h1 List teams

h5
  = link_to 'Add team', new_team_path, class: 'btn btn-warning btn-small'

= render 'filter'

center
  = will_paginate

.row
  .col-md-12
    table.table
      tr
        th
          input#check_all type="checkbox"
        th Name
        th Image
        th Description
        th
      - @teams.each do |team|
        tr
          td
            input type="checkbox" value="#{team.id}"
          td
            = link_to team.name, edit_team_path(team)
          td
            = image_tag(team.image.url, size: "80x80", class: "gravatar") if team.image?
          td 
            = simple_format team.description
          td
            = link_to 'Show', team_path(team)
            = " | "
            = link_to 'Edit', edit_team_path(team)
            = " | " 
            = link_to 'Delete', team, data: {:confirm => "Are you sure to delete #{team.name}?"}, :method => :delete

center
  = will_paginate