<form action="/chefs" accept-charset="UTF-8" method="get">
  <input name="utf8" type="hidden" value="✓">
  <div class="row filter-row">
    <div class="col-md-12">
      <div class="col-md-3">
        <input type="text" name="chefname" id="chefname" placeholder="Chef name" class="form-control">
      </div>
      <div class="col-md-3">
        <input type="text" name="position" id="position" placeholder="Position" class="form-control">
      </div>
      <div class="col-md-3">
        <input type="text" name="email" id="email" placeholder="Email" class="form-control">
      </div>
      <div class="col-md-3">
        <input type="submit" name="commit" value="Search" class="btn btn-success"><a class="btn btn-success" href="/chefs">Reset</a>
      </div>
    </div>
  </div>
  <div class="row filter-row">
    <div class="col-md-12">
      <div class="col-md-3">
        <input type="text" name="description" id="description" placeholder="Description" class="form-control">
      </div>
    </div>
  </div>
</form>