<input name="utf8" type="hidden" value="✓">
<div class="row filter-row">
  <div class="col-md-12">
    <div class="col-md-3">
      <input type="text" name="chefname" id="chefname" ng-model="chefname" placeholder="Chef name" class="form-control">
    </div>
    <div class="col-md-3">
      <input type="text" name="position" id="position" ng-model="position" placeholder="Position" class="form-control">
    </div>
    <div class="col-md-3">
      <input type="text" name="email" id="email" ng-model="email" placeholder="Email" class="form-control">
    </div>
    <div class="col-md-3">
      <input type="button" name="search" value="Search" class="btn btn-success" ng-click="searchChef()"> 
      <input type="button" name="reset" value="Reset" class="btn btn-success" ng-click="resetChef()">
    </div>
  </div>
</div>
<div class="row filter-row">
  <div class="col-md-12">
    <div class="col-md-3">
      <input type="text" name="description" id="description" ng-model="description" placeholder="Description" class="form-control">
    </div>
  </div>
</div>