h1 List leagues

h5
    = link_to "Add league", new_league_path, class: "btn btn-warning btn-small"

= render 'filter'

center
    = will_paginate

div.row
    div.col-md-12
        table.table
            tr
                th League name
                th League image
                th League type
                th Active
                th
            - @leagues.each do |league|
                tr
                    td
                        = link_to league.league_name, edit_league_path(league)
                    td
                        = image_tag league.league_image.url, size: "80x80", class: "gravatar" if league.league_image?
                    td
                        = league.league_type
                    td
                        = league.active
                    td
                        = link_to "Edit", edit_league_path(league) 
                        = link_to "Delete"

center
    = will_paginate