= render 'shared/page_title', title: @mt

.row
  .well.col-md-6.crud-form
    = form_tag(create_teams_league_path(@league), method: "post") do
      = hidden_field_tag :league_id, @league.id
      
      = label_tag 'Season'
      = select_tag :season_id, options_from_collection_for_select(@seasons, 'id', 'name', params[:season_id]), include_blank: "Season", class: "form-control"
      
      = label_tag 'Teams'
      = text_field_tag :team_ids, '', data: { load: @teams}
      
      .row
        .col-md-6
          = submit_tag "Save teams", class: "btn btn-success"
        .col-md-6
          = link_to "Back", leagues_path, class: "btn btn-success"
          
javascript:
  $(document).ready(function() {
    $('#season_id').on('change', function(){
      if($(this).val() > 0) {
        var league_id = $('#league_id').val();
        var season_id = $('#season_id').val();
      
        $.post('/teams/search.json', {
          league_id: league_id,
          season_id: season_id
        }, function(data){
          $('#team_ids').tokenInput("clear");
          
          if(Object.keys(data).length > 0) {
            
            for(var index in data) { 
              $('#team_ids').tokenInput("add", data[index]);
            }
            
          }
        });
      }
    });
    
    $('#team_ids').tokenInput("/teams/search_auto_complete.json", {
      theme: "facebook",
      prePopulate: $("#team_ids").data('load')
    });
  });