= render 'shared/errors', obj: @chef
 
.row
  .well.col-md-8.col-md-offset-2.crud-form
    = form_for @chef do |f|
      = f.label :chefname
      = f.text_field :chefname
      
      = f.label :email
      = f.email_field :email
     
      = f.submit(@chef.new_record? ? "Create chef" : "Edit chef", class: "btn btn-success")