= stylesheet_link_tag '/themes/mini_tools/assets/fonts/font-awesome/css/font-awesome.min', media: 'all', 'data-turbolinks-track' => true
= stylesheet_link_tag '/themes/mini_tools/assets/boostrap-files/css/bootstrap.min', media: 'all', 'data-turbolinks-track' => true
= stylesheet_link_tag '/themes/mini_tools/assets/css/animate', media: 'all', 'data-turbolinks-track' => true
= stylesheet_link_tag '/themes/mini_tools/assets/css/style', media: 'all', 'data-turbolinks-track' => true
= stylesheet_link_tag '/themes/mini_tools/assets/css/colour-scheme/color-blue', media: 'all', 'data-turbolinks-track' => true
= stylesheet_link_tag '/themes/mini_tools/assets/css/respons', media: 'all', 'data-turbolinks-track' => true

link href="/themes/mini_tools/assets/img/favicons/apple-touch-icon-144x144.png" rel="apple-touch-icon" sizes="144x144"
link href="/themes/mini_tools/assets/img/favicons/apple-touch-icon-114x114.png" rel="apple-touch-icon" sizes="114x114"
link href="/themes/mini_tools/assets/img/favicons/apple-touch-icon-72x72.png" rel="apple-touch-icon" sizes="72x72"
link href="/themes/mini_tools/assets/img/favicons/apple-touch-icon.png" rel="apple-touch-icon"
link href="/themes/mini_tools/assets/img/favicons/favicon.png" rel="shortcut icon"

= stylesheet_link_tag 'https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic', media: 'all'