= stylesheet_link_tag '/themes/football/css/megaslider', media: 'all', 'data-turbolinks-track' => true
= stylesheet_link_tag '/themes/football/css/wp-social-sidebar-icons', media: 'all', 'data-turbolinks-track' => true
= stylesheet_link_tag '/themes/football/css/wp-social-sidebar', media: 'all', 'data-turbolinks-track' => true
= stylesheet_link_tag '/themes/football/css/classic', media: 'all', 'data-turbolinks-track' => true
= stylesheet_link_tag '/themes/football/css/dashicons.min', media: 'all', 'data-turbolinks-track' => true
= stylesheet_link_tag '/themes/football/css/sportspress', media: 'all', 'data-turbolinks-track' => true
= stylesheet_link_tag '/themes/football/css/icons', media: 'all', 'data-turbolinks-track' => true
= stylesheet_link_tag '/themes/football/css/framework', media: 'all', 'data-turbolinks-track' => true
= stylesheet_link_tag '/themes/football/css/style', media: 'all', 'data-turbolinks-track' => true

link href="/themes/football/images/cropped-favicon-32x32.png" rel="icon" sizes="32x32"
link href="/themes/football/images/cropped-favicon-192x192.png" rel="icon" sizes="192x192"
link href="/themes/football/images/cropped-favicon-180x180.png" rel="apple-touch-icon-precomposed"