= javascript_include_tag '/themes/football/js/jquery', 'data-turbolinks-track' => true
= javascript_include_tag '/themes/football/js/jquery-migrate.min', 'data-turbolinks-track' => true
= javascript_include_tag '/themes/football/js/megaslider', 'data-turbolinks-track' => true
= javascript_include_tag '/themes/football/js/jquery.dataTables.min', 'data-turbolinks-track' => true
= javascript_include_tag '/themes/football/js/jquery.countdown.min', 'data-turbolinks-track' => true

javascript:
  var localized_strings = {"days":"days","hrs":"hrs","mins":"mins","secs":"secs","previous":"Previous","next":"Next"};

= javascript_include_tag '/themes/football/js/sportspress', 'data-turbolinks-track' => true
= javascript_include_tag '/themes/football/js/navigation', 'data-turbolinks-track' => true
= javascript_include_tag '/themes/football/js/skip-link-focus-fix', 'data-turbolinks-track' => true
= javascript_include_tag '/themes/football/js/jquery.timeago', 'data-turbolinks-track' => true
= javascript_include_tag '/themes/football/js/jquery.timeago.en', 'data-turbolinks-track' => true
= javascript_include_tag '/themes/football/js/scripts', 'data-turbolinks-track' => true
= javascript_include_tag '/themes/football/js/wp-embed.min', 'data-turbolinks-track' => true