<div class="center jumbotron">
    <h1>Welcome to Bet app</h1>
    
    <h2>This is soccer betting web application like ibet888, m88, 188bet ...</h2>
    
    <%= link_to "Sign Up", "", class: "btn btn-lg btn-success" %>
</div>

<div class="row">
    <div class="col-lg-3">
        <h3>View Matches as Guest User</h3>
        <p>
            Browse and view all matches as guest.
        </p>
    </div>
    <div class="col-lg-3">
        <h3>View Matches as Guest User</h3>
        <p>
            Browse and view all matches as guest.
        </p>
    </div>
    <div class="col-lg-3">
        <h3>View Matches as Guest User</h3>
        <p>
            Browse and view all matches as guest.
        </p>
    </div>
</div>