= stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic', media: 'all'
= stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic', media: 'all'
= stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Karla:400,400italic,700,700italic', media: 'all'
= stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Montserrat:400,700', media: 'all'
= stylesheet_link_tag 'http://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css', media: 'all'
        
= stylesheet_link_tag 'themes/recipe/selectric', media: 'all', 'data-turbolinks-track' => true
= stylesheet_link_tag 'themes/recipe/font-awesome.min', media: 'all', 'data-turbolinks-track' => true
= stylesheet_link_tag 'themes/recipe/swipebox', media: 'all', 'data-turbolinks-track' => true
= stylesheet_link_tag 'themes/recipe/meanmenu', media: 'all', 'data-turbolinks-track' => true
        
= stylesheet_link_tag 'themes/recipe/slick', media: 'all', 'data-turbolinks-track' => true
= stylesheet_link_tag 'themes/recipe/slick-theme', media: 'all', 'data-turbolinks-track' => true
= stylesheet_link_tag 'themes/recipe/bootstrap', media: 'all', 'data-turbolinks-track' => true
= stylesheet_link_tag 'themes/recipe/bootstrap-theme', media: 'all', 'data-turbolinks-track' => true
= stylesheet_link_tag 'themes/recipe/animate', media: 'all', 'data-turbolinks-track' => true
= stylesheet_link_tag 'themes/recipe/main', media: 'all', 'data-turbolinks-track' => true