= stylesheet_link_tag 'https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic', media: 'all'
= stylesheet_link_tag 'https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic', media: 'all'
= stylesheet_link_tag 'https://fonts.googleapis.com/css?family=Karla:400,400italic,700,700italic', media: 'all'
= stylesheet_link_tag 'https://fonts.googleapis.com/css?family=Montserrat:400,700', media: 'all'
= stylesheet_link_tag 'https://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css', media: 'all'
        
= stylesheet_link_tag '/themes/recipes/css/selectric', media: 'all', 'data-turbolinks-track' => true
= stylesheet_link_tag '/themes/recipes/css/font-awesome.min', media: 'all', 'data-turbolinks-track' => true
= stylesheet_link_tag '/themes/recipes/css/swipebox', media: 'all', 'data-turbolinks-track' => true
= stylesheet_link_tag '/themes/recipes/css/meanmenu', media: 'all', 'data-turbolinks-track' => true
        
= stylesheet_link_tag '/themes/recipes/css/slick', media: 'all', 'data-turbolinks-track' => true
= stylesheet_link_tag '/themes/recipes/css/slick-theme', media: 'all', 'data-turbolinks-track' => true
= stylesheet_link_tag '/themes/recipes/css/bootstrap', media: 'all', 'data-turbolinks-track' => true
= stylesheet_link_tag '/themes/recipes/css/bootstrap-theme', media: 'all', 'data-turbolinks-track' => true
= stylesheet_link_tag '/themes/recipes/css/animate', media: 'all', 'data-turbolinks-track' => true
= stylesheet_link_tag '/themes/recipes/css/main', media: 'all', 'data-turbolinks-track' => true