= javascript_include_tag '/themes/recipes/js/jquery-1.11.3.min', 'data-turbolinks-track' => true
= javascript_include_tag '/themes/recipes/js/jquery-ui', 'data-turbolinks-track' => true
= javascript_include_tag '/themes/recipes/js/slick.min', 'data-turbolinks-track' => true
= javascript_include_tag '/themes/recipes/js/jquery.meanmenu', 'data-turbolinks-track' => true
= javascript_include_tag '/themes/recipes/js/jquery.selectric.min', 'data-turbolinks-track' => true
= javascript_include_tag '/themes/recipes/js/wow', 'data-turbolinks-track' => true
= javascript_include_tag '/themes/recipes/js/jquery.form', 'data-turbolinks-track' => true
= javascript_include_tag '/themes/recipes/js/jquery.validate.min', 'data-turbolinks-track' => true
= javascript_include_tag '/themes/recipes/js/jquery.swipebox', 'data-turbolinks-track' => true
= javascript_include_tag '/themes/recipes/js/custom', 'data-turbolinks-track' => true