= javascript_include_tag 'themes/recipe/jquery-1.11.3.min', 'data-turbolinks-track' => true
= javascript_include_tag 'themes/recipe/jquery-ui', 'data-turbolinks-track' => true
= javascript_include_tag 'themes/recipe/slick.min', 'data-turbolinks-track' => true
= javascript_include_tag 'themes/recipe/jquery.meanmenu', 'data-turbolinks-track' => true
= javascript_include_tag 'themes/recipe/jquery.selectric.min', 'data-turbolinks-track' => true
= javascript_include_tag 'themes/recipe/wow', 'data-turbolinks-track' => true
= javascript_include_tag 'themes/recipe/jquery.form', 'data-turbolinks-track' => true
= javascript_include_tag 'themes/recipe/jquery.validate.min', 'data-turbolinks-track' => true
= javascript_include_tag 'themes/recipe/jquery.swipebox', 'data-turbolinks-track' => true
= javascript_include_tag 'themes/recipe/custom', 'data-turbolinks-track' => true